# Supabase — obtener desde https://supabase.com/dashboard/project/[tu-proyecto]/settings/api
EXPO_PUBLIC_SUPABASE_URL=https://xxxxxxxxxxxxxxxxxxxx.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...

# Entorno
EXPO_PUBLIC_ENV=development
